.App {
  text-align: center;
}
body{
  font-family: monospace;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/*PARA EDITAR MATERIAL UI*/
.MuiDataGrid-columnHeader{
  background-color: #0864a1 !important;
  color: whitesmoke;
}

.MuiDataGrid-cell{
  color: #0864a1;
}

.MuiDataGrid-footerContainer .MuiSvgIcon-root{
  color: whitesmoke;
}

.MuiDataGrid-footerContainer{
  background-color: #0864a1;
  color: whitesmoke;
}

.MuiDataGrid-footerContainer p{
  color: whitesmoke;
}

legend span{
  color: #0864a1;
}

.MuiDataGrid-menuIcon .MuiSvgIcon-root{
  color: whitesmoke;
}

.MuiDataGrid-iconButtonContainer .MuiSvgIcon-root,.MuiTablePagination-select{
  color: whitesmoke !important;
}


/*para apex charts*/
.apexcharts-tooltip {
  background: #444343;
  color: #0864a1;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  html {
      font-size: 12px
  }
}